*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#wrap{
  position: relative;
  margin: 0 auto;
  width: 1200px;
}
#board{
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-auto-rows: auto;
  width: 100%;
  padding: 50px 0;
}
.zone{
  border: 1px solid #000;
}
.zone:first-child, .zone:nth-child(9), .zone:nth-child(32), .zone:nth-child(24){
  width: 200px; height: 200px;
}  
.top{
  display: flex;
  flex-direction: column;
  height: 200px;
}
.top .zone_color{
  order: 2;
  height: 50px;
}
.top .zone_name{
  order: 1;
  border-bottom: 1px solid #000;
  height: calc(100% - 50px);
}
.left, .right {
  display: flex;
  width: 200px;
  height: 100px;
}
.left .zone_color {order: 2; width: 50px;} 
.left .zone_name{
  order: 1;
  width: calc(100% - 50px);
  border-right: 1px solid #000;

} 
.right .zone_color{
  width: 50px;
}
.right .zone_name{
  border-left: 1px solid #000;
}
.bottom{
  height: 200px;
}
.bottom .zone_color{height: 50px;}
.bottom .zone_name{
  height: calc(100% - 50px);
  border-top: 1px solid #000;
}
.center{
  grid-row: 2/9;
  grid-column: 2/9;
  background-image: url("../images/부루마불 로고.png");
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: contain; */
}