*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#colorBox{
  width: 100%;
  padding: 20px;
  text-align: center;
}

button{
  width: 150px;
  font-size: 20px;
  padding: 5px 15px;
}
.colorList{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.color{
  width: 80px;
  height: 30px;
}