*{ padding: 0; margin: 0; }
#main{
  width: 1200px;
  margin: 0 auto;
}
.table1, .table2{
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
.table1{
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.table1  th:first-child{
  width: 90%;
  border-right: 1px solid #000;
}
.table2{
  width: 100%;
  margin-bottom: 20px;
}
.table2 tr ,th,td {
  border: 1px solid #000;
}
.table2 th:nth-child(2){
  width: 70%;
}
.table2 th:nth-child(1),.table2 th:nth-child(3),.table2 th:nth-child(4){
  width: 10%;
}